table {
  border-collapse: collapse;
  border: 2px solid rgb(87, 120, 147);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: #e1f6ff;
}

th,
td {
  border: 1px solid rgb(87, 120, 147);
  padding: 10px 10px;
  min-width: 100px;
  text-align: left;
}

td:first-of-type {
  text-align: left;
  font-weight: 600;
}

tbody > tr:nth-of-type(even) {
  background-color: #d7f2fd;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

.buttons-flex {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 0;
}

.button {
  background-color: #b4cfda;
  border: 1px solid rgb(89, 98, 133);
  color: rgb(42, 67, 102);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.buttons-flex .button:hover {
  background-color: #80c3db;
}

.buttons-flex .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
