table {
  border-collapse: collapse;
  border: 2px solid rgb(87, 120, 147);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: #e1f6ff;
}

th,
td {
  border: 1px solid rgb(87, 120, 147);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: #d7f2fd;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

button {
  color: #283439;
  background-color: #d7f2fd;
  border: solid 1px #b4cfda;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  color: #020404;
  background-color: #c6e5f1;
  border: solid 1px #98b9c6;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 2px 2px rgb(167, 216, 236);
}

.buttons-flex {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
