.bread-nav a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  gap: 15px;
}
li:not(:first-child) {
  list-style: " / ";
}

li.first-child {
  list-style: none;
}
.breadBtn {
  display: flex;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(128, 128, 128);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
